#fti-1::after 
{ 
    content: "Contact Us"; 
    color: #000000;
}
#fti-2::after 
{ 
    content: "About"; 
    color: #000000;
}
#fti-3::after 
{ 
    content: "Legal"; 
    color: #000000;
}
#fti-4::after 
{ 
    content: "Privacy"; 
    color: #000000;
}
#fti-5::after 
{ 
    content: "Copyright © 2019 Nilskör. All rights reserved."; 
    color: #000000;
}

@media (max-width: 1100px)
{
    #fti-1::after 
    { 
        content: ""; 
        color: #000000;
    }

    #fti-2::after 
    { 
        content: ""; 
        color: #000000;
    }

    #fti-3::after 
    { 
        content: ""; 
        color: #000000;
    }

    #fti-4::after 
    { 
        content: ""; 
        color: #000000;
    }

    #fti-5::after 
    { 
        content: "Copyright © 2019 Nilskör"; 
        color: #000000;
    }
}