
/* toc section header */
.generic-box-toc
{
    display: flex;
    text-align: left;
    padding-left: 13vw;
    padding-right: 13vw;
}

/* toc section text */
.generic-box-toct
{
    display: flex;
    text-align: left;
    padding-left: 13vw;
    padding-right: 13vw;
}

/* main article */
.generic-box-main
{
    display: flex;
    text-align: left;
    padding-left: 13vw;
    padding-top: 1vw;
}

/* main article secondary */
.generic-box-main2
{
    display: flex;
    text-align: left;
    padding-left: 13vw;
    padding-right: 13vw;
}

/* main article tertiary */
.generic-box-main3
{
    display: flex;
    text-align: justify;
    padding-left: 13vw;
    padding-right: 13vw;
}

/* footer space */
.generic-box-space
{
    display: flex;
    text-align: justify;
    padding-left: 13vw;
    padding-right: 13vw;
    padding-bottom: 7vw;
}

/* footer copyright */
.generic-box-footer
{
    display: flex;
    text-align: left;
    padding-left: 6vw;
}